doctype html
html
  head
   style
    include ../public/stylesheets/ui-controller.css
  script(src="javascripts/ui-controller.client.js")
  - var layout_class = layout_param.split("@")[0].split("-")[0]
  div.pv_base.pv_c&attributes({'id':pvid, 'pvid':pvid, 'layout_param':layout_param})
   span #{pvname}:
   - if (!Array.isArray(available_message)) available_message = [available_message];
   each val, index in available_message
     - var val_class = val.substring(0,4)
     case val_class
      when "inp_"
      when "dir_"
      default
       button.com&attributes({'pvid':pvid, 'message_name':available_message[index]})(onclick="button_com_click(this.getAttribute('pvid'),  this.getAttribute('message_name'))")  #{available_message[index]}
   br
   each val, index in available_message
     - var val_class = val.substring(0,4)
     div
      case val_class
       when "inp_"
         - var inp_id = "inp_" + pvid
         input(type="text", id=inp_id)
         button.inp&attributes({'pvid':pvid, 'message_name':available_message[index], 'inp_id':inp_id})(value="inp_" + index + "-" + val, onclick="button_inp_click(this.getAttribute('pvid'), this.getAttribute('inp_id'), this.getAttribute('message_name'))")  設定
         br
   each val, index in available_message
     - var val_class = val.substring(0,4)
     div
      case val_class
       when "dir_"
         div.direction
           button.left.direction&attributes({'pvid':pvid, 'message_name':available_message[index]})(value=pvid, onclick="button_direction_click(this.getAttribute('pvid'),  this.getAttribute('message_name'),'l')") 
           button.right.direction&attributes({'pvid':pvid, 'message_name':available_message[index]})(value=pvid, onclick="button_direction_click(this.getAttribute('pvid'),  this.getAttribute('message_name'),'r')") 
           br
           button.up.direction&attributes({'pvid':pvid, 'message_name':available_message[index]})(value=pvid, onclick="button_direction_click(this.getAttribute('pvid'),  this.getAttribute('message_name'),'u')") 
           button.down.direction&attributes({'pvid':pvid, 'message_name':available_message[index]})(value=pvid, onclick="button_direction_click(this.getAttribute('pvid'),  this.getAttribute('message_name'),'d')") 
           br
  br